@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap");

body {
  font-family: "Satoshi", sans-serif;
  background-color: rgb(35, 45, 54);
  color: rgb(207, 207, 207);
}

.app-container {
  padding: 0 10rem;
}
